@font-face {
    font-family: "RecipeKorea";
    src: url("../fonts/RecipekoreaFONT.otf") format("opentype");
    color: #262626;
    
}

@font-face {
    font-family: "EF_Diary";
    src: url("../fonts/EF_Diary.ttf") format("opentype");
}

@font-face {
    font-family: "Gilbeot";
    src: url("../fonts/Gilbeot_Rainbow.otf") format("opentype");
}

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.text-feild{
    margin: auto;
    text-align: center;
    font-size: 13px;
    border: none;
}

.btn{
    font-size: 13px;
    border: none;
}

/*main_menu*/
.main_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff983;
    padding: 8px 12px;
}

.nav_menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}
  
.nav_menu li {
    padding: 8px 30px;
}

.main {
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}

.menu_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    background-color: #fff983;
    padding: 8px 12px;
} 

.menu_bar a:hover {
    background-color: white;
    border-radius: 3px;
}

.menu_content {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    vertical-align: middle;
    font-family: "RecipeKorea";
    font-size: 22px;
    color: #4F4120;
}
.menu_content li {
    text-align: center;
    vertical-align: middle;
    padding: 8px 30px;
}

.menu_content li:hover {
    background-color: white;
    border-radius: 3px;
}

.menu_content i {
    align-items: center;
    color: #171717;
    font-size: 20px;
    padding-left: 0;
}

body { 
    margin: 0;
    background-color: var(--bodybackground-color);
}

a { 
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}
/*
.login {
    margin-top: 50px;
    text-align: center;
    justify-content: center
}

.login input:hover {
    background-color: rgb(103, 29, 29);
    border-radius: 3px;
}
*/

/*my_vilage*/
.my_vil {
    justify-content: center;
    text-align: center;
    padding-bottom: 10%;
    background-image: url("../img/background.png");
}

hr {
    width : 50%;
    height: 2px;
    margin: auto;
    margin-bottom: 15px;
    background: #4F4120;
    border: 0px;
}

.my_vil_feild {
    margin: 80px;
    
    justify-content: center;
    text-align: center;
    background-image: url("../img/paper.png");
}

.text-feild-pro {
    margin-top: 20px;
    text-align: center;
    font-family: "IM_Hyemin-Bold";
    font-size: 15px;
    border: none;
    color: #262626;
   
}

.text-feild-pro b {
    font-size: 18px;
    color: #252525;
    background:linear-gradient(to top, #FFE400 50%, transparent 50%);

}

.icon a {
    display: inline;
    white-space: nowrap;
}

/*we_village*/
.we_vil { 
    justify-content: center;
    text-align: center;
    padding-bottom: 10%;
    background-image: url("../img/background.png");
}

h2 {
    margin-top: 20px;
    text-align: center;
    font-family: "RecipeKorea";
    color: #ffffff;
}

h3 {
    text-align: center;
    margin-top: 0px;
    font-family: "Y_Spotlight";
    color: #222222;
}

.ctf_feild {
    position: relative;
    margin: 80px;
    height: 600px;
    background-image: url("../img/paper.png");
}

.ctf_feild i {
    text-align: center;
    color: #5f1919;
}

.ctf_name {
    position: absolute;
    width: 20%;
    z-index: 2;
    margin-left: 25%;
    display: block;

}

.ctf_name a {
    margin: auto;
    text-align: left;
    color: var(--text-color);
    font-family: "Y_Spotlight";
    color: #222222;
    font-size: 15px;
}

.ctf_name b{
    text-align: left;
    background:linear-gradient(to top, #FFE400 40%, transparent 50%);
}


.ctf_date {
    position: absolute;
    z-index: 1;
    width: 25%;
    display: inline-block;

}

.ctf_date p {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Y_Spotlight";
    font-size: 15px;
    color: #222222;
}

/*senior_village*/
.senior_vil {
    background-image: url("../img/background.png");
    padding-bottom: 10%;
}

.experiences {
    margin: 80px;
    margin-bottom: 20px;
    height: 300px;
    text-align: center;
    background-image: url("../img/paper.png");   
}

.experiences b {
    margin: auto;
    margin-left: 5px;
    text-align: center;
    font-size: 25px;
    font-family: 'IM_Hyemin-Bold';
}


.experiences i {
    margin: auto;
    margin-top: 15px;
    color: #262626;
}

/*chat_senior*/


#chat .chat_room {
    position: relative;
    background-color: #fff983;
    margin: auto;
    margin-top: 50px;
    width: 700px;
    height: 600px;
}

#chat .input_box {
    position: absolute;
    width: 700px;
    height: auto;
    bottom: 0;
    z-index: 3;
}

#chat .input_box #text_input{
    width: 690px;
    height: auto;
}

#chat button {
    position: absolute;
    display: block;
    bottom: 0.3px;
    right: 0px;
    background-color: #5f9659;
    padding: 2px;
    z-index: 2;
}

#chat button:hover {
   color: #fff983;
}

.chat_box {
    position: absolute;
    display: inline-block;
    justify-content: right;
    width: 700px;
    height: 520px;
    
    background-image: url('../img/paper.png');
    overflow: auto; 
}
.chat_box::-webkit-scrollbar {
    width: 10px;
}

.chat_box::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.chat_box::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.chat_box p {
    text-align: right;
    font-family: "IM_Hyemin-Bold";
    font-size: 18px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 1;

}

.loading {
    text-align: center;
    height: 1000px;
    background-color: #26262688;
}

/*junior_village*/
.junior_vil {
    justify-content: center;
    text-align: center;
    padding-bottom: 10%;
    background-image: url("../img/background.png");
}

.junior_felid {
    margin: 80px;
    height: 600px;
    text-align: center;
    background-image: url("../img/paper.png");  
}

.junior_felid p {
    text-align: center;
    font-family: "IM_Hyemin-Bold";
    font-size: 24px;
}

.junior_felid button {
    border: none;
}

.junior_felid button:hover {
    border: none;
    color: #5f9659;
}

/*security_test*/
.test_felid {
    margin: 80px;
    height: 600px;
    text-align: center;
    background-image: url("../img/paper.png");  
}

.test_felid button {
    margin-top: 50px;
    border: 0px;
}